DISABLE_NEW_JSX_TRANSFORM=true
NEXT_PUBLIC_API_URL = 'http://localhost:8000/'

NEXT_PUBLIC_MAIL_SERVICE_ID = ''
NEXT_PUBLIC_MAIL_TEMPLATE = ''
NEXT_PUBLIC_MAIL_PUBLIC_ID = ''

NEXT_PUBLIC_BASE_WEBSITE_URL = 'http://localhost:3000'
