input, textarea, button {
    border-radius: 5px;
    border: 1px solid var(--color-gray);
}

input {
    width: 230px;
    max-width: 100%;
}

.pad {
    padding: 10px 20px;
}

textarea {
    padding: 20px;
    height: 200px;
    width: 230px;
    max-width: 100%;
}

.decklistPdf {
    & img {
        max-height: 520px;
    }
}

.sendImage {
    height: 200px;
}

.alert {
    width: 75px;
}

.form, .decklist {
    width: 600px;
    max-width: 600px;
}

@media (max-width: 650px) {
    .form, .decklist {
        width: 99%;
        max-width: 99%;
    }

    .form {
        & div{
            width: 98%;

            & input, textarea {
                width: 95%;
            }
        }
    }

    .decklist{
        & article, .textarea {
            float: left;
            width: 99%;

            & .inputform {
                width: 99%;

                & input {
                    width: 95%;
                }
            }
        }

        & .pdf {
            display: none;
        }
    }

    .textarea {
        & div {
            width: 99%;
        }
    }

    label {
        width: 100%;
    }

    .pad {
        padding: 10px;
    }
}